apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: dual-role
  namespace: {{ strimzi_namespace }}
  labels:
    strimzi.io/cluster: {{ kafka_cluster_name }}
spec:
  replicas: {{ kafka_replicas }}
  roles:
    - controller
    - broker
  storage:
    type: ephemeral
  resources:
    requests:
      memory: {{ kafka_memory_request }}
      cpu: {{ kafka_cpu_request }}
    limits:
      memory: {{ kafka_memory_limit }}
      cpu: {{ kafka_cpu_limit }}
