NODE_ENV=development
JWT_SECRET=super-secret-jwt-key
INTERNAL_SERVICE_TOKEN=internal-service-token
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=queue-and-occupancy-events
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=qoms
POSTGRES_USER=qoms
POSTGRES_PASSWORD=qoms
REDIS_HOST=redis
REDIS_PORT=6379
MONGO_URI=mongodb://mongo:27017/qoms
USER_SERVICE_URL=http://user-service:3001
ZONE_MANAGEMENT_SERVICE_URL=http://zone-management-service:3002
QUEUE_SERVICE_URL=http://queue-service:3003
RESERVATION_SERVICE_URL=http://reservation-service:3004
NOTIFICATION_SERVICE_URL=http://notification-service:3005
MONITORING_SERVICE_URL=http://monitoring-event-ingestion-service:3006
API_GATEWAY_PORT=3000
USER_SERVICE_PORT=3001
ZONE_MANAGEMENT_SERVICE_PORT=3002
QUEUE_SERVICE_PORT=3003
RESERVATION_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3005
MONITORING_EVENT_INGESTION_SERVICE_PORT=3006
USER_WEB_PORT=5173
ADMIN_WEB_PORT=5174
NGINX_PORT=8080
